.content {
    padding: 16px;
  }
  
  .content > mat-card {
    width: 100px;
    height: 180px !important;
  }
  
  .card-container{
    margin-bottom: 16px;
  }
  
  .image-container{
    margin-top: 14px;
  }
  .mat-card-image{
    width: 100%; height: 80%;
  }
  .app-name-contain{
    display: flex;
    justify-content: center; 
    font-size: 15px;
  }
  
  .app-version-contain{
    display: flex; 
    justify-content: center; 
    font-size: 11px;
  }
  
  .download-button-icon{
    color: #a2cf6e;
  }
  
  .share-button-icon{
    color:#83c3f7;  
  }
  .example-ripple-container {
    cursor: pointer;
    /* height: 210px; */
  }