<div mat-dialog-title>
    <div>
        {{data.name}}
    </div>
</div>
<div mat-dialog-content>
    WhatsApp from Facebook is a FREE messaging and video calling app.<br> It’s used by over 2B people in more than 180
    countries. It’s simple, reliable, and private, so you can easily keep in touch with your friends and family.<br>
    WhatsApp works across mobile and desktop even on slow connections, with no subscription fees*
</div>
<div mat-dialog-actions class="modal-action">
    <button mat-button mat-stroked-button mat-dialog-close color="primary">Close</button>
    <button mat-button mat-raised-button color="primary">Read more</button>
</div>