<div mat-dialog-title >
    <div>
        {{data.name}}
    </div>
</div>
<div mat-dialog-content>
    Instagram (from Facebook) allows you to create and share your photos, stories, and videos with the friends and followers you care about.
    Instagram
    Instagram
    Instagram
    Instagram
    Instagram
    Instagram
</div>
<div mat-dialog-actions class="modal-action">
    <button mat-button mat-stroked-button mat-dialog-close color="primary">Close</button>
    <button mat-button mat-raised-button color="primary">Read more</button>
</div>